body,h1{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #2279d6;
}
.ana{
	width: 960px;
	margin: 5px auto;
}
#logo{
	float: left;
	color:whitesmoke;
	font-size: 23pt;
	font-family: Verdana;
	font-weight: bolder;
	margin-top: 10px;
	margin-right: 40px;
	margin-left: 10px;
	background-color: #4298f5;
    border-radius: 3px;
}
 
#menu{
	float: left;
	list-style: none;
    
}
#menu li{
	float: left;
    background-color: deepskyblue;
}
#menu li a{
	text-decoration: none;
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 14pt;
}
#menu li a:hover{
	background-color: #295784;
	border-radius: 10px;
}
 
#icerik{
	background-color: aliceblue;
 
}
#gorsel img{
	height: 300px;
	width: 940px;
	margin: 10px 10px;
}
 
.kutu{
	width: 300px;
	float: left;
	background-color: #2279d6;
	margin-left: 15px;
	margin-bottom: 30px;
}
.kutu h1{
	color: whitesmoke;
	margin-left: 10px;
}
 
.kutu p{
	text-indent: 20px;
	text-align: justify;
	margin: 10px;
}
.temizle{
	clear: both;
}